.blog1 {
    width: 100%;
    max-width: 100%;
    background: url("../img/blog-phone.jpg") no-repeat center;
    min-height: 648px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blog1__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    padding-top: 8px;
}

.blog1__title {
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    margin-bottom: 12px;
}

.blog1-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}

@media (min-width: 1440px) {
    .blog1__title {
        width: 30%;
    }

    .blog1-text {
        width: 29%;
    }
}