.content {
    width: 100%;
    max-width: 100%;
}

.content__container {
    margin: 0 auto;
    max-width: 1350px;
}

.content__wrap {
    display: flex;
    flex-direction: column;
    padding: 53px 24px 65px;
    position: relative;
}

.content__wrap::after {
    content: "";
    position: absolute;
    width: 100vw;
    max-width: calc(100vw - 24px - 24px);
    height: 1px;
    background-color: rgba(130, 130, 130, 0.16);
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
}

.content__title {
    font-size: 16px;
    line-height: 22px;
    color: #080808;
    margin-bottom: 21px;
    letter-spacing: -0.3px;
}

.content__text,
.content__item,
.content__par {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #080808;
    opacity: 0.7;
}

.content__text {
    margin-bottom: 32px;
}

.content__par {
    letter-spacing: -0.03px;
    margin-bottom: 34px;
}

.content__list {
    display: flex;
    flex-direction: column;
    list-style-type: circle;
    padding-left: 16px;
    margin-bottom: 21px;
}

.content__item {
    margin-bottom: 10px;
}

.content__share-block {
    display: flex;
    flex-direction: column;
}

.content__share {
    font-weight: 500;
    font-size: 14px;
    line-height: 23.89px;
    color: #080808;
    margin-bottom: 10px;
}

.content__share-list {
    display: flex;
}

.content__share-item {
    margin-right: 8px;
}

.content__share-link {
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.content__share-item:first-child {
    .content__share-link {
        background: rgba(63, 92, 149, 1) url("../img/face-share.svg") no-repeat center;
        background-size: 5px 10px;
        width: 24px;
        height: 24px;
    }
}

.content__share-item:nth-child(2) {
    .content__share-link {
        background: rgba(56, 167, 222, 1) url("../img/twitter-share.svg") no-repeat center;
        background-size: 11px 10px;
    }
}

.content__share-item:nth-child(3) {
    .content__share-link {
        background: rgba(0, 119, 183, 1) url("../img/linkedin-share.svg") no-repeat center;
        background-size: 12px 12px;
    }
}

.content__share-item:nth-child(4) {
    .content__share-link {
        background: rgba(250, 250, 250, 1) url("../img/copy-share.svg") no-repeat center;
        background-size: 11px 12px;
        border: 1px solid rgba(8, 8, 8, 0.2);
        box-sizing: border-box;
    }
}



@media (min-width: 768px) {
    .content {}

    .content__container {}

    .content__wrap {
        padding: 61px 48px 73px 124px;
    }

    .content__wrap::after {
        max-width: calc(100vw - 124px - 48px);
        left: 73px;
    }

    .content__title {}

    .content__text {
        padding-right: 76px;
    }

    .content__list {
        padding-right: 76px;
    }

    .content__item {}

    .content__par {
        margin-bottom: 44px;
        padding-right: 76px;
    }

    .content__share-block {}

    .content__share {
        margin-bottom: 11px;
    }

    .content__share-list {}

    .content__share-item {}

    .content__share-link {}
}

@media (min-width: 1024px) {
    .content {}

    .content__container {}

    .content__wrap {
        padding: 78px 70px 89px 159px;
    }

    .content__wrap::after {
        max-width: calc(100vw - 159px - 159px);
        left: 0;
    }

    .content__title {}

    .content__text {
        margin-bottom: 32px;
    }

    .content__list {}

    .content__item {
        margin-bottom: 12px;
    }

    .content__par {
        margin-bottom: 49px;
    }

    .content__share-block {}

    .content__share {
        margin-bottom: 12px;
    }

    .content__share-list {}

    .content__share-item {}

    .content__share-link {}
}

@media (min-width: 1440px) {

    .content__wrap {
        padding: 77px 70px 51px 152px;
    }

    .content__wrap::after {
        max-width: calc(100vw - 197px - 197px);

    }

    .content__title {
        margin-bottom: 15px;
        letter-spacing: 0;
    }

    .content__text {
        width: 70.3%;
        margin-bottom: 40px;
        letter-spacing: -0.08px;
    }

    .content__list {
        margin-bottom: 28px;
    }

    .content__item {}

    .content__par {
        width: 72%;
    }

    .content__share-block {
        display: none;
    }

    .content__share {}

    .content__share-list {}

    .content__share-item {}

    .content__share-link {}
}