* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

.page {
	height: 100%;
}



.page-body {
	font-family: "Montserrat", "Arial", "sans-serif";
	font-weight: 700;
	color: rgba(255, 255, 255, 1);
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	min-height: 100%;
	position: relative;
}

.page-main-adaptive {
	display: flex;
	flex-direction: column;
	font-family: "Montserrat", "Arial", "sans-serif";
	font-weight: 700;
	color: rgba(255, 255, 255, 1);
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	min-height: 100%;
	position: relative;
}

.page-body-mode-news {
	background-color: rgba(250, 250, 250, 1);
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}